body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #47A3DA;
  color:white;
}

header{
  text-align:center;
  padding-top: 6em;
}

.container{
  padding-bottom:5em;

}


h1{
  font-size:3em;
  font-weight:600;
}

.container{
  text-align:center;
}

.column-one{
  width:25%;
  border-style:none;
  border-color:white;
  border-width:3px;
  display:inline-block;
  vertical-align:top;
  text-align:left;
  font-weight:400;
  font-size:1.2em;
  padding-left:1em;
  padding-right:1em;
}

h3 {
  padding-top:1.5em;
  padding-bottom:.25em;
  border-style:none;
  border-color:white;
  border-width:3px;
}

form{  padding-right:9px;
}

input{
  width:100%;
  height:1.7em;
  font-size:1.2em;
  background-color: #47A3DA;
  border-style:solid;
  border-color:white;
  border-width:3px;
  padding-left:2px;
  text-overflow:ellipsis;
}

select{
  background-color:#47A3DA;
  height:2em;
  width:100%;
  color:white;
  font-size:1em;
  border-style:solid;
  border-color:slategrey;
  border-width:1px;
  vertical-align:top;
}

textarea{
  height:10em;
  width:100%;
  font-size:1.2em;
  background-color: #47A3DA;
  border-style:solid;
  border-color:white;
  border-width:3px;


}

::-webkit-input-placeholder{
  color:#10689A;
}

.submit{
  border-style:none;
  border-color:white;
  border-width:1px;
  padding-top:3em;
}

button{
  border-style:none;
  background-color: #10689A;
  border-color:white;
  border-width:1px;
  text-align:center;
  padding-top:1em;
  padding-bottom:1em;
  padding-left:2em;
  padding-right:2em;
  font-size: 1.1em;
  color:white;
}


/*
.submit h4{
  background-color:#10689A;
  width:250px;
  padding-top:1.2em;
  padding-bottom:1em;
  font-weight:400;
  font-size:1.2em;
  margin: 0 auto;

}*/
